body {
    background-color: rgb(230, 230, 230)
}

section:not(:last-child) {
    margin-bottom: 3em;
}

.score-container {
    display: flex;
    gap: 20px;
}
.score-card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.score-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.score-number {
    font-size: 36px;
    font-weight: bold;
}
.card-negative {
    color: #e74c3c;
}
.card-positive {
    color: #2ecc71;
}

.header {
    background-color: #f5f5f5;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.alert-row .acknowledge-button {
    visibility: hidden;
}

.alert-row:hover .acknowledge-button {
    visibility: visible;
}