section:not(:last-child) {
    margin-bottom: 3em;
}

.card-container {
    display: flex;
    gap: 20px;
}
.card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.score-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.score-number {
    font-size: 36px;
    font-weight: bold;
}
.card-negative {
    color: #e74c3c;
}
.card-positive {
    color: #2ecc71;
}